
$gray-50:                         #fafbfc;
$gray-100: #F5F5F5 ;
$gray-200: #EEEEEE ;
$gray-300: #E0E0E0 ;
$gray-400: #BDBDBD ;
$gray-500: #9E9E9E ;
$gray-600: #757575 ;
$gray-700: #616161 ;
$gray-800: #424242 ;
$gray-900: #333 ;

$blue:                            $color-brand-01;
$green:                           #10b759;
$teal:                            #00cccc;
$cyan:                            #00b8d4;
$pink:                            #f10075;
$indigo:                          #5b47fb;

// Body
$body-color:                      $color-text-01;

// Border
$border-color:                    rgba(darken($color-ui-02, 50%), .16);

// Buttons + Forms
$btn-focus-box-shadow:            none;
$btn-active-box-shadow:           none;

$input-btn-padding-y:             .46875rem;
$input-btn-padding-y-sm:          .391rem;
$input-btn-padding-y-lg:          .6rem;
$input-btn-padding-x:             .625rem;

$input-btn-font-size:             .875rem;
$input-btn-font-size-sm:          .8125rem;

// Buttons
$btn-padding-x:                   .9375rem;

// Card
$card-border-color:               $border-color;

// Close
$close-color:                     $color-text-02;

// Fonts
$font-size-base:                  1rem;
$font-family-base:                'Roboto', sans-serif;

$headings-font-weight:            $font-weight-medium;
$headings-color:                  $color-text-01;
$headings-line-height:            1.25;
$headings-font-weight:            $font-weight-medium;

// Forms
$input-border-color:              $color-ui-03;
$input-group-addon-bg:            $color-ui-01;

// Grid
$grid-gutter-width:               30px;


// Links
$link-color:                      $color-brand-01;
$link-hover-decoration:           none;

// Popover
$popover-border-color:            $border-color;
