/*
* DashForge v1.0.0 (https://themepixels.me/dashforge)
* Copyright 2019 ThemePixels
* Licensed under ThemeForest License
*
*

/* ############### FONTS IMPORT ############### */

/* @import "fonts/inter-ui";*/
@import "fonts/roboto-condensed";



@import 'variables';
@import 'bootstrap/variables';

@import 'mixins';
@import 'bootstrap/mixins';

/* ############### BOOTSTRAP FRAMEWORK ############### */
@import '../../../node_modules/bootstrap/scss/bootstrap';

/* ############### BOOTSTRAP OVERRIDES ############### */
@import 'bootstrap/reboot';
@import 'bootstrap/alert';
@import 'bootstrap/badge';
@import 'bootstrap/breadcrumb';
@import 'bootstrap/buttons';
@import 'bootstrap/card';
@import 'bootstrap/carousel';
@import 'bootstrap/custom-forms';
@import 'bootstrap/dropdown';
@import 'bootstrap/forms';
@import 'bootstrap/grid';
@import 'bootstrap/input-group';
@import 'bootstrap/list-group';
@import 'bootstrap/modal';
@import 'bootstrap/nav';
@import 'bootstrap/navbar';
@import 'bootstrap/pagination';
@import 'bootstrap/popover';
@import 'bootstrap/progress';
@import 'bootstrap/toast';
@import 'bootstrap/tooltip';
@import 'bootstrap/table';

/* ############### ADDON COMPONENTS STYLES ############### */
@import 'dashforge/accordion';
@import 'dashforge/avatar';
@import 'dashforge/button-group';
@import 'DashForge/card';
@import 'dashforge/divider';
@import 'dashforge/dropdown';
@import 'dashforge/image';
@import 'dashforge/link';
@import 'dashforge/list';
@import 'dashforge/marker';
@import 'dashforge/modal';
@import 'dashforge/nav';
@import 'dashforge/off-canvas';
@import 'dashforge/overlay';
@import 'dashforge/placeholder';
@import 'dashforge/search';
@import 'dashforge/steps';
@import 'dashforge/tab';

/* ############### PLUGINS STYLES ############### */
@import 'lib/datatables';
@import 'lib/datepicker';
@import 'lib/flot';
@import 'lib/jquery-steps';
@import 'lib/morris';
@import 'lib/parsley';
@import 'lib/jqvmap';
@import 'lib/quill';
@import 'lib/rangeslider';
@import 'lib/scrollbar';
@import 'lib/select2';
@import 'lib/spectrum';
@import 'lib/tagsinput';
@import 'lib/typeahead';

/* ############### PANEL STYLES ############### */
@import 'panels/backdrop';
@import 'panels/header';
@import 'panels/logo';
@import 'panels/sidebar';
@import 'panels/aside';
@import 'panels/content';
@import 'panels/footer';
@import 'panels/settings';

/* ############### UTILITIES/HELPER CLASSES ############### */
@import 'util/background';
@import 'util/border';
@import 'util/height';
@import 'util/margin';
@import 'util/misc';
@import 'util/padding';
@import 'util/position';
@import 'util/transform';
@import 'util/typography';
@import 'util/width';

@import 'pages/filemgr';
@import 'pages/dashboard';

@import 'soju/post';
@import 'soju/postEditor';

html, body{
  font-size: 12px;
}

.nav-sidebar {

}


.navbar-biz {
  background-color: #003865;
  .navbar-menu{
    flex-flow: row nowrap;
    white-space: nowrap;
  }
}

.font-condensed {
  font-family: 'Roboto Condensed', 'Roboto', sans-serif;
}

.navbar-biz {
  .nav-link {
    @extend .font-condensed;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 2px 0;
    height: 100%;
    font-size: 14px;
    cursor: pointer;

    svg {
      width: 17px;
      height: 17px;
      fill: rgba(255,255,255,0.8);
      margin-right: 5px;
      color: $gray-600;
      display: inline-block;

      position: relative;
      top: -1px;

    }
    &:hover{
      svg {

        fill: rgba(255,255,255,0.8);

      }
    }
  }
  .nav-item {
    height: 100%;
    position: relative;
    &.is-active {
      &:after{
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        bottom: -1px;
        background-color: $color-brand-03;
      }
      .nav-link{
        color: $color-brand-03;
        cursor: pointer;
        svg{
          fill: $color-brand-03;
        }
      }
    }
  }
}

svg{
  vertical-align: initial;
}

.ant-select-dropdown-menu-item{
  padding: 3px 10px;
}

.postItem-flex{
  padding: 5px;
  display: flex;
  flex-flow: row nowrap;
  color: $color-text-03;
  align-items: center;
}

.postItem-heading{
  flex: 1
}

.postItem-cat{

}

.postItem-date{

}


.postItem-cat{
  min-width: 100px;
  white-space: nowrap;
  color: theme-color("primary");
  font-weight: bold;
}

.postItem-date{

}

.card-post-item + .card-post-title{
  margin-top: 40px;
}


.tiny-gutters {
  margin-right: -5px;
  margin-left: -5px;

  > .col,
  > [class*="col-"] {
    padding-right: 5px;
    padding-left: 5px;
  }
}
