/*
* DashForge v1.0.0 (https://themepixels.me/dashforge)
* Copyright 2019 ThemePixels
* Licensed under ThemeForest License
*
*

/* ############### FONTS IMPORT ############### */

/* @import "fonts/inter-ui";*/
// @import "fonts/roboto-condensed";

@import 'variables';
@import 'bootstrap/variables';

@import 'soju/post';
@import 'soju/postEditor';
@import 'soju/login';
@import 'soju/ant-override';

@import 'tuananh/styles';

html, body {
  font-size: 12px;
}


.nav-sidebar {

}

.filemgr-sidebar {
  width: 260px;
}

@media (min-width: 992px) {
  .filemgr-content {
    left: 260px;
  }
}


.navbar-biz {
  background-color: #003865;

  .navbar-menu {
    flex-flow: row nowrap;
    white-space: nowrap;
  }
}

.font-condensed {
  font-family: 'Roboto Condensed', 'Roboto', sans-serif;
}


.navbar-biz {
  .nav-link {
    @extend .font-condensed;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 2px 0;
    height: 100%;
    font-size: 14px;

    svg {
      width: 17px;
      height: 17px;
      fill: rgba(255, 255, 255, 0.8);
      margin-right: 5px;
      color: $gray-600;
      display: inline-block;

      position: relative;
      top: -1px;

    }

    &:hover {
      svg {

        fill: rgba(255, 255, 255, 0.8);

      }
    }
  }

  .nav-item {
    height: 100%;
    position: relative;

    &.is-active {
      &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        bottom: -1px;
        background-color: $color-brand-03;
      }

      .nav-link {
        color: $color-brand-03;

        svg {
          fill: $color-brand-03;
        }
      }
    }
  }
}

svg {
  vertical-align: initial;
}

.ant-select-dropdown-menu-item {
  padding: 3px 10px;
}

.postItem-flex {
  padding: 5px;
  display: flex;
  flex-flow: row nowrap;
  color: $color-text-03;
  align-items: center;
}

.postItem-heading {
  flex: 1;

  .inside {
    max-width: 380px;
  }
}
.postItem-title {
  cursor: pointer;
}

.postItem-cat {

}

.postItem-date {

}


.postItem-cat {
  min-width: 100px;
  white-space: nowrap;
  color: theme-color("primary");
  font-weight: bold;
}

.postItem-status {
  min-width: 100px;
  white-space: nowrap;
}

.postItem-date {

}

.postItem-author {
  min-width: 100px;
}

.card-post-item + .card-post-title {
  margin-top: 40px;
}


.tiny-gutters {
  margin-right: -5px;
  margin-left: -5px;

  > .col,
  > [class*="col-"] {
    padding-right: 5px;
    padding-left: 5px;
  }
}


.navbar-right {
  .dropdown-item .fa {
    width: 16px;
    height: 16px;
    margin-right: 15px;
  }

  .dropdown-link {
    cursor: pointer;

    i {
      font-size: 24px;
      color: white;
    }

    img {
      border: 2px solid white;
      transform: scale(1) !important;
      padding: 0 !important;
    }
  }

  .dropdown-profile .dropdown-item {
    padding: 0;
    display: flex;
    align-items: center;
    color: #1b2e4b;
  }
}

.navbar-right-item {
  margin-right: 25px;

  .dropdown-item fa {
    display: inline-block;

    margin-right: 15px;
  }
}

.dropdown-item .fa {
  display: inline-block;

  margin-right: 15px;
}
.ant-popover-inner-content{
  padding: 12px;
}
.dropdown-message .dropdown-item, .dropdown-notification .dropdown-item{
  margin: 0 auto;
}


.file-menu-hori{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.menu-hori-item{
  font-size: 18px;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  border-radius: 50%;
  background: rgba($color-brand-01,0.1);
  border: 1px solid rgba($color-brand-01,0.3);
  //color: white;
  i{
    transition: all 0.2s ease-in;
    color: rgba($color-brand-01, 0.9);
    //color:white;
  }
  &:hover {
    i{
      filter: grayscale(0);
    }
  }
  &.hori-item-create{
    background-color: rgba(#f48320, 0.1);
    border: 1px solid rgba(#f48320, 0.2);
    i{
      transition: all 0.2s ease-in;
      color: #f48320;
      //color:white;
    }
    &:hover{
      background-color: rgba(#f48320, 0.2);
    }
  }

  &.hori-item-live{
    background-color: rgba(#009999, 0.1);
    border: 1px solid rgba(#009999, 0.2);
    i{
      transition: all 0.2s ease-in;
      color: #009999;
      //color:white;
    }
    &:hover{
      background-color: rgba(#009999, 0.2);
    }
  }

  &.hori-item-magazine{
    background-color: rgba(#f10075, 0.1);
    border: 1px solid rgba(#f10075, 0.2);
    i{
      transition: all 0.2s ease-in;
      color: #f10075;
      //color:white;
    }
    &:hover{
      background-color: rgba(#f10075, 0.2);
    }
  }

  &.hori-item-soccer{
    background-color: rgba(#0168fa, 0.1);
    border: 1px solid rgba(#0168fa, 0.2);
    i{
      transition: all 0.2s ease-in;
      color: #0168fa;
      //color:white;
    }
    &:hover{
      background-color: rgba(#0168fa, 0.2);
    }
  }


}
.news-log-infinite-container {
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  overflow: auto;
  padding: 8px 24px;
  height: 75vh !important;
  .html-content{
    line-height: 20px;
    flex-grow: 1;
    span.cms_bm_account_name {
      font-weight: bold;
    }
    a {
      text-decoration: none;
      cursor: default;
      color: inherit;
      font-weight: bold;
    }
  }
  .log-time {
    width: 105px;
    flex-shrink: 0;
    text-align: center;
    > .string {
      color: #087ecd;
      margin-bottom: 5px;
    }
    > .time {
      font-size: 12px;
    }
  }
}
.news-log-loading-container {
  text-align: center;
}