.gx-blue-purple-gradient {
  background: #74acf2; /* Old browsers */
  background: -moz-linear-gradient(left, #74acf2 1%, #152cc4 30%, #ad1283 63%, #7c2769 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #74acf2 1%,#152cc4 30%,#ad1283 63%,#7c2769 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #74acf2 1%,#152cc4 30%,#ad1283 63%,#7c2769 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#74acf2', endColorstr='#7c2769',GradientType=1 ); /* IE6-9 */
  
}
