.ant-layout-header {
  padding: 0 !important;
}
.top-menu {
  margin-left: 32px;
  text-transform: uppercase;
  cursor: pointer;
  &.active {
    border-top: 3px solid #f48320;
  }
  &.no-route {
    height: 40px;
    align-items: center;
    display: flex;
  }
  i {
    margin-right: 5px;
  }
  a {
    color: #262626 !important;
    height: 40px;
    align-items: center;
    display: flex;
  }
  &:hover {
    border-top: 3px solid #f48320;
  }
}
