.loading__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;

  visibility: hidden;
  opacity: 0;
  transition-duration: 0.4s;

  .ant-spin {
    margin-top: 4px;
  }

  &.is-active {
    visibility: visible;
    opacity: 1;

    .loading__target {
      opacity: 1;
      transform: translate3d(0, 0, 0) scale(1);
    }
  }
}

.ant-spin-nested-loading > div > .ant-spin {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  display: block;
  width: 100%;
  height: 100%;
  max-height: 100%;
}

.spin__white {
  .ant-spin-dot-item {
    color: white;
  }
}

.ant-spin-blur {
  z-index: -1;
  opacity: 1;
}
.ant-spin-blur::after {
  opacity: 0.55;
  pointer-events: auto;
}

.loading__target {
  width: 150px;
  height: 70px;
  border-radius: 20px;
  overflow: hidden;
  width: 230px;
  border-radius: 13px;
  text-align: center;
  background: rgba(255, 255, 255, 0.95);
  will-change: transform, opacity;

  user-select: none;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;

  opacity: 0;
  transform: translate3d(0, 0, 0) scale(1.185);

  transition-duration: 0.4s;

  will-change: transform, opacity;

  opacity: 1;
}

.loading__text {
  font-size: 16px;
  color: gray('800');
  margin-left: 15px;
  margin-bottom: 0px;
}
