.ant-drawer-header {
  padding: 12px 24px;
}

.ant-modal-header{
    padding: 12px 24px;
}
.ant-drawer-close, .ant-modal-close, .ant-modal-close-x {
  height: 46px;
  line-height: 46px;
}
.post-editor-content {
  .ant-input[disabled] {
    color: inherit;
    background-color: white;
    cursor: not-allowed;
  }
}
.ant-input[disabled] {
  color: $gray-700;
  background-color: $gray-100;
}
.ant-select-disabled.ant-select-single:not(.ant-select-customize-input) .ant-select-selector{
    color: $gray-700;
}

.ant-modal-body {
    padding: 15px;
}