.login-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-flow: row nowrap;
  align-items: center;
  // background: rgba(0, 0, 0, 0.2);

  box-shadow: none;
  border-radius: 0px;
  // background-image: url('/bg-pattern2.png');
  background-size: contain;
  background-repeat: repeat;
  background-position: 0 0;

  .ant-spin-container{
    border-radius: 10px;
  }

  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    // background: url("/hero_2.jpg") no-repeat center;
    // background: url("https://www.pixinvent.com/demo/frest-clean-bootstrap-admin-dashboard-template/app-assets/images/pages/auth-bg.jpghero_2.jpg") no-repeat center;
    background-size: cover;
    background: linear-gradient(to bottom right, #073764, #dc7126);
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
  }

  .login-form-button {
    width: 100%;
  }

  .ant-form-item-label > label,
  .ant-checkbox {
    font-size: 13px;
  }
  .ant-form-vertical .ant-form-item-label,
  .ant-col-24.ant-form-item-label,
  .ant-col-xl-24.ant-form-item-label {
    padding: 0;
  }
}

.login-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border-radius: 10px;
  overflow: hidden;
  background: white;
  width: 100%;   
  max-width: 1000px;
  min-height: 500px;
  
  box-shadow: 0px 0px 40px rgba(0,0,0,0.1);
  position: relative;

}

.login-grid-left {
  padding: 2em 3.07rem 1.53rem;
  background-color: #fff;
  position: relative;
  flex-grow: 1;
}

.login-grid-right {
  background: rgba(0, 0, 0, 0.6);
  width: 500px;
  padding: 0px;
  background-size: cover;
  position: relative;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
 
}


.login-quote-bg{
  position: absolute ;
    top: 0px ;
    left: 0px ;
    right: 0px ;
    bottom: 0px;
    display: block ;
    background-blend-mode: multiply ;
    background-image: linear-gradient(215.52deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.46) 74.22%, rgba(0, 0, 0, 0.65) 100%);

}

.login-quote{
  padding: 30px;
  width: 100%;
  z-index: 1;
  
}

.login-quote-text{
  font-size: 32px;
  line-height: 42px;
  margin-bottom: 30px;
  font-weight: 500;
  // color: rgba(255,255,255,0.85);
  color:white;
  width: 100%;
  // font-family: 'Kalam', cursive;
}

.login-quote-source{
  text-align: right;
  font-size: 14px;
  font-style: italic;
  width: 100%;
  color: rgba(255,255,255,0.9);
}

input:-internal-autofill-selected {
  background-color: white !important;
}

input:-webkit-autofill {
  box-shadow: inset 0 0 0 50px #fff !important;
}

input[type='email'],
input[type='password'],
input[type='text'],
textarea {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
}
