.news-filter-more {
  width: 450px;
}

.news-filter {
  // position: sticky;
  //   top: 0;
  //   padding: 10px 0;
  //   background: #f8f9fc;
  //   z-index: 9;

  .card{
    border-left: 3px solid $color-brand-01;

  }


  .ant-input-suffix {
    font-size: 14px;
  }

  .ant-input-group-addon {
    font-size: 12px;
    line-height: 1;
  }
  .ant-input {
    &::placeholder {
    //   color: gray('800');
    }
  }
  .ant-select-selection__placeholder {
    // color: gray('800');
  }
}
.filemgr-content-header {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
}

.filter-item-title{
  padding-right: 20px;
}



.card-post {
}

.news-filter {
  padding: 0 0 15px 0;
}

.filter-form {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.filter-item {
  margin-right: 15px;
  padding: 5px 0;
}

.filter-item-label {
  font-size: 11px;
  margin-bottom: 3px;
  font-weight: 500;
  color: gray("800")
}

.filter-pagination{
    //padding-top: 20px;
  padding-bottom: 5px;
  padding-top: 5px;
  margin-left: auto;
  margin-right: 0;
}

.filemgr-sidebar-body{
    //top: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}


.filemgr-content-body {
  padding: 20px;
  -webkit-overflow-scrolling: touch;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: auto;
}

.solve-flex{
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 40px);
  overflow: hidden;
}

.solve-flex-auto{
  //display: flex;
  flex-shrink: 0;
}

.solve-flex-grow{

  //padding: 20px;
}
