.drawer-post-editor {
  //height: 100%;

  .ant-drawer-content-wrapper {
    width: calc(100% - 40px) !important;
    //max-width: 1300px;
    height: calc(100% - 20px) !important;
    left: 20px;

    .ant-drawer-content {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
  }

  .ant-drawer-body {
    padding: 0;
    font-size: 13px;
    padding-top: 46px;

    display: flex;
    height: 100%;
    flex-flow: column nowrap;
    background: $gray-200;
  }
  .ant-drawer-header {
    position: absolute;
    right: 0;
    z-index: 10;
    left: 0;
    top: 0;
    border-color: $gray-300;
  }
}

.post-editor-header {
  height: 60px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  border-top: 1px solid $gray-300;
  position: relative;
}

.post-editor-body {
  flex: 1;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  background: #f8f9fc;
  height: 100%;
}

.post-editor-navleft {
  background-color: #fff;

  border-left: 1px solid $gray-300;
  width: 60px;
  padding: 0px;
  transition: all 0.3s;
}

.post-editor-sidebar,
.post-editor-content {
  height: 100%;
  //overflow-y: auto;
  //-webkit-overflow-scrolling: auto;
}
.post-editor-content {
  //padding: 30px;
}

.navLeft {
  padding: 10px 0;
}

.navLeft-item {
  text-align: center;
  padding: 10px 0;
  position: relative;
  cursor: pointer;
  i {
    transition: all 0.2s ease-in;
    filter: grayscale(100%);
  }
  &.is-active,
  &:hover {
    i {
      filter: grayscale(0);
    }
  }
}

.navLeft-item-badge {
  border-radius: 50%;
  color: white;
  font-size: 10px;
  align-items: center;
  top: 5px;
  right: 12px;
  position: absolute;
  display: flex;
  width: 15px;
  height: 15px;
  justify-content: center;
  position: absolute;
}

.post-editor-sidebar {
  width: 360px;

  background-color: #fff;

  border-left: 1px solid $gray-300;
}

.post-form {
  position: relative;
}
.post-form-title {
  //background: gray("300");
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  background: $gray-100;
  position: sticky;
  top: 0;
  z-index: 5;
}

.post-form-content {
  padding: 10px 15px;

  .ant-upload.ant-upload-select-picture-card {
    width: 61px;
    height: 61px;
    margin-bottom: 0;
    margin-right: 0;
  }
  .ant-upload-text {
    font-size: 12px;
  }
}

.post-form-section {
  margin-bottom: 15px;
}

.post-page {
}
.article-form-container {
  padding: 24px 0 24px;
  position: relative;
}

.article-count {
  color: $gray-500;
  strong{
    color: $gray-900
  }
  position: absolute;
  bottom: 35px;
  right: 0;
  left: 50%;
  max-width: 860px;
  padding: 0 16px;
  pointer-events: none;
  width: calc(100% - 40px);
  text-align: right;
  transform: translateX(-50%);
  user-select: none;
}


.article-form {
  font-size: 18px;
  visibility: visible;
  margin: 0 auto;
  max-width: 860px;
  background: #fff;
  border: none;
  position: relative;
  box-sizing: border-box;
  border-radius: 3px;
  margin-bottom: 0;
  width: calc(100% - 40px);
  padding: 0px 20px;
  box-shadow: 0px 1px 1px rgba(10, 10, 10, 0.1),
    0px 1px 2px rgba(10, 10, 10, 0.1), 0px 0px 1px rgba(10, 10, 10, 0.8);
}

.article-heading {
  visibility: visible;
  -webkit-box-direction: normal;
  outline: 0;
  width: 99%;
  border: 0;
  padding: 20px 0px 15px;
  font-weight: 600;
  background: white;
  resize: none;
  font-size: 29px;
  height: 34px;

  box-shadow: none !important;

  &:focus,
  &:active {
    outline: none;
  }
}

.article-form-desc {
  border-top: 1px solid $gray-300;
  border-bottom: 1px solid $gray-300;
}

.article-desc {
  visibility: visible;
  -webkit-box-direction: normal;
  outline: 0;
  width: 99%;
  border: 0;
  padding: 20px 0px 15px;
  font-weight: 600;
  background: white;
  resize: none;
  font-size: 16px;
  height: 24px;

  box-shadow: none !important;

  &:focus,
  &:active {
    outline: none;
  }
}

.article-form-body {
  font-size: 15px;
  color: $gray-800;
  min-height: calc(85vh - 195px);
}

.article-form-body {
  padding: 30px 0 30px;
  position: relative;
}

.article-form-social {
  position: absolute;
  left: 0;
  top: 30px;
  .social-icon {
    width: 36px;
    height: 36px;
    display: block;
    text-align: center;
    line-height: 36px;
    border-radius: 50%;
    font-size: 16px;
    color: white;
    margin-bottom: 15px;
    &.facebook {
      background: #4163a8;
    }
    &.comment {
      background: #0075ff;
    }
    &.envelope {
      background: #999999;
    }
  }
}

.article-form-writter {
  padding-left: 40px;
  .ck.ck-editor__editable_inline {
    border: none !important;
    // padding: 0 !important;
    box-shadow: none !important;
    border-radius: 0;
  }
  .ck.ck-editor__editable_inline > :first-child {
    margin-top: 0;
  }
}

.ps > .ps__rail-y {
  opacity: 0.6;
}

.post-autosave {
  color: $gray-600;
}

.post-editor-item {
}

.post-autosave {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.ant-btn-blue {
  color: #fff;
  background-color: #00b8d4;
  border-color: #00b8d4;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
  &:hover,
  &:focus {
    color: #fff;
    background-color: darken(#00b8d4, 5%);
    border-color: darken(#00b8d4, 5%);
  }
}

.postItem-thumb {
  flex: 0 0 40px;
  overflow: hidden;
  text-indent: -9999px;
  img{
    display: block;
    background-color: $gray-100;
  }
}

.postItem-action {
  position: absolute;
  bottom: 5px;
  right: 20px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.1s ease-in;
  button.btn.btn-secondary {
    border: 1px solid $gray-300;
    background: white;
    color: $gray-800;
    padding: 5px 12px;
    font-size: 15px;
    &:hover {
      background: $gray-100;
    }
  }
  &.is-show {
    visibility: visible;
    opacity: 1;
  }
}

.postRelative-select {
  background-color: $gray-200;
  position: relative;
  padding: 10px;
  margin: 0;
}

.postRelative-select-item {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  background: white;
  cursor: grab;
  margin-bottom: 10px;

  border-radius: 2px;
  border-width: 2px;
  border-style: solid;
  border-image: initial;
  border-color: transparent;
  padding: 6px;
  &:focus {
    // border-color: rgba(9,30,66,0.71);
    outline: none;
  }
}

.postRelative-avatar {
  width: 34px;
  flex: 0 0 34px;
  overflow: hidden;
  text-indent: -9999px;
  img{
    display: block;
    background-color: $gray-100;
  }
}

.postRelative-name {
  flex: 1;
  padding-left: 10px;
  color: rgb(9, 30, 66);
  font-size: 11px;
  line-height: 1.4;
}

.postRelative-remove {
  // font-size: 18px;
  z-index: 2;
  cursor: pointer;
  position: relative;
  a {
    padding-left: 5px;
    display: block;
  }
}

.postItem-relative {
}

.postItem-relative-item {
  position: relative;
  border-bottom: 1px solid $gray-300;
  padding: 5px 0;
  &:first-child {
    border-top: 1px solid $gray-300;
  }

  cursor: pointer;

  &.is-active {
    background: #f7f9c1;
    // &:after{
    //   content : "";
    //   width: 3px;
    //   background: $color-brand-01;
    //   height: 100%;
    //   left: 0;
    //   top: 0;
    //   position: absolute;
    // }
  }
}

.postItem-relative-name {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  color: $gray-800;
}

.postItem-relative-link {
  color: $gray-500;
  font-size: 10px;
}

.postItem-relative-date {
  font-size: 9px;
  color: $gray-800;
  font-weight: bold;
  font-style: italic;
  padding: 2px 5px;
  position: absolute;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid $gray-200;
}

.article-form-writter {
  margin-right: -30px;
}

.article-form-writter .ck-editor__editable {
  padding: 0 30px;
  display: inline-block;
  width: 100%;
}


.ant-anchor-link{
  padding: 0;
  line-height: auto;
}

.postItem-relative{


}


.modal-postItem{
  .ant-modal-body{
    min-height:400px;
  }
  .ant-list-items{
    height: 350px;
    overflow-y: auto;
    overflow-x: hidden;
  }
}